@font-face {
    font-family: 'Inter';
    src: url(transfonter.org-20241008-120508/Inter18pt-Regular.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Inter';
    src: url(transfonter.org-20241008-120508/Inter18pt-Bold.woff2) format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

:root{
    --color-white: #FFFFFF;
    --color-blue: #0066FF;
    --color-dark: #151515;
    --color-dark-white: #E8E8E8;

   --container-width: 1200px;
}  



body {
    margin: 0px;
}

footer{
    background-color: var(--color-dark);
}

ul, ol, ul li, ol li {
    padding: 0px;
    margin: 0px;

    list-style-type: none;
}
a{
    text-decoration: none;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    text-align: left;
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 48px;
    text-align: left;
    margin: 0px;
    
}

p {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    text-align: left;
    margin: 0px;
}





/* header (can copy*) */
 
.header-block{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 140px;
    background-color: var(--color-dark);
}

.header {
    width: 100%;
    display: flex;
    justify-content: center;
}

.header-container {
    width: 100%;
    max-width: var(--container-width);

    margin: 0px 30px;

    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}


.header-link ul {
    display: flex;
    flex-direction: row;
}

.header-link ul li:not(:first-child) {
    margin-left: 35px;
}

.header-link ul li a {
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 700;

    color: var(--color-white);

    transition: color 0.15s ease;
}

.header-link ul li a:is(.new-car-link) {
    color: var(--color-blue);
}

.header-link ul li a:hover {
    color: var(--color-blue);
}


.burger-button {
    background: none;
    border: 0px;
    width: 30px;
    height: 19px;
    padding: 0px;
    display: none;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.burger-line {
    height: 3px;
    background-color: white;
}

.background-links {
    display: none;
}


/* header (can copy*) */



.car-and-minivans-block {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.car-and-minivans-container {
    display: flex;
    align-items: center;
    max-width: 1200px;
    flex-direction: column;
}
.car-and-minivans-container h1 {
    text-align: center;
    margin-bottom: 50px;
}

.carAndMinivan-active {
    color: var(--color-blue);
}

.switch-ul {
    display: flex;
    justify-content: center;
    gap: 80px;
    margin-bottom: 100px;
}
.switch-ul li {
    font-family: 'Inter';
    font-size: 24px;
    font-weight: 700;
}
.switch-ul li:hover {
    color: var(--color-blue);
}

article {
    display: grid;
    grid-template-columns: 
        270px 270px 270px 270px;
    gap: 100px 40px;
}

.card-car {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 270px;
    border: var(--color-blue) solid 1px;  
    overflow: hidden;
}

.card-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 170px;
    overflow: hidden;
}
.card-car img {
    width: 100%;
    transition: 0.3s ease;
}
.card-car:hover {
    img{
        width: 103%;
    }

    .see-details-link {
        color: var(--color-white);
        background-color: var(--color-blue);
    }

}

.card-car h2{
    color: var(--color-dark);
    font-size: 24px;
}
.card-car p,
.card-car a {
    color: var(--color-dark);
}

.img-link{
    border: var(--color-blue) solid 1px;
    margin-bottom: 20px;
}

.card-img {
    height: 170px;
}

.info-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    gap: 20px;  
}

.see-details-link {
    width: 100%;
    border-top: var(--color-blue) solid 1px;
    color: var(--color-blue);
    text-align: center;

    transition: 0.15s ease;
}


.show-more-batton {
    width: 223px;
    height: 47px;

    font-family: 'Inter';
    font-size: 16px;
    font-weight: 400;
    text-align: center;

    margin-top: 70px;

    color: var(--color-white);

    background-color: var(--color-dark);
    border: none;

    transition: 0.3s ease;
}
.show-more-batton:hover {
    background-color: var(--color-blue);
}

.manuals-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

.manuals-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}

.manuals {
    display: flex;
    flex-direction: column;
    width: 580px;
}
.manuals img{
    width: 100%;
}

.text-and-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}
.text-and-button p {
    font-size: 24px;
    font-weight: 700;
}

.more-button {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;

    width: 80px;
    height: 29px;

    border: none;
    color: var(--color-white);
    background-color: var(--color-blue);

    transition: 0.3s ease;
}
.more-button:hover {
    color: var(--color-white);
    background-color: var(--color-dark);
}



/* footer (can copy) */

footer {
    padding: 50px 20px 32px;
    margin-top: 150px; 
}

footer p, a {
    color: var(--color-white);
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.additional-information-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    max-width: 1020px;
}

.additional-information-footer-speke h2 {
    color: var(--color-white);
    font-size: 24px;
    margin-bottom: 40px;
}

.additional-information-footer-speke ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.additional-information-footer-speke ul li a:hover {
    color: var(--color-blue);
}

.download-the-app {
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-top: 50px;
}

.legal-disclaimer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;    
}

.legal-disclaimer p {
    font-size: 12px;
    width: 100%;
    max-width: 806px;
    text-align: center;
}

.privacy-policy {
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-top: 30px;
}

/* footer (can copy*) */



@media screen and (max-width: 1250px) {

    .switch-ul {
        margin-bottom: 80px;
    }

    .card-car {
        width: 260px;
    }

    article {
        grid-template-columns: 260px 260px 260px 260px;
        gap: 80px 25px;
    }

    .manuals {
        width: 530px;
    }

    .text-and-button > p {
        font-size: 22px;
    }
}




@media screen and (max-width: 1150px) {

    p {
        font-size: 15px;
    }

    .header-container {
        max-width: 850px;
        margin: 0px 20px;
    }

    .header-logo img {
        width: 85%;
    }

    .header-link a {
        font-size: 14px;
    }

    article {
        grid-template-columns: 260px 260px 260px;
        gap: 80px 25px;
    }

    .card-car {
        width: 260px;
    }

    .manuals-container {
        flex-direction: column;
    }

    .additional-information-footer{
        max-width: 870px;
    }
}


@media screen and (max-width: 880px) {
    .header-block {
        height: 10px;
    }

    .header-link-block {
        display: none;
        justify-content: flex-end;
        align-items: center;
        position: fixed;
        top: 0px;
        right: 0px;
        width: 100%;
        height: 100%;
        z-index: 1000;
    }

    .active {
        display: flex;
    }

    .header-link {
        width: 60%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: black;
        z-index: 900;
    }

    .header-link ul {
        flex-direction: column;
        align-items: center;
        
        gap: 80px;
    }

    .header-link ul li a {
        font-size: 22px;
        font-weight: 400;
    }

    .background-links {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        backdrop-filter: brightness(0.5);
        z-index: 800;
    }



    .burger-button {
        display: flex;
    }

    .header-container {
        width: 90%;
        align-items: center;
    }


    .car-and-minivans-container h1 {
        font-size: 40px;
    }

    .switch-ul {
        gap: 50px;
    }

    .switch-ul li {
        font-size: 22px;
    }

    article {
        grid-template-columns: 270px 270px;
        gap: 60px 40px;
    }

    .card-car {
        width: 270px;
    }

    .manuals-block {
        margin-top: 120px;
    }


    .additional-information-footer {
        max-width: 630px;
    }

    .additional-information-footer-speke h2 {
        font-size: 22px;
    }

    .additional-information-footer-speke a {
        font-size: 14px;
    }

}



@media screen and (max-width: 680px) {

    .header-block {
        height: 100px;
    }

    .header-link ul {
        gap: 55px;
    }


    .header-link ul li:not(:first-child) {
        margin-left: 0px;
    }

    .header-link ul li a {
        font-size: 20px;
    }


    .switch-ul {
        display: grid;
        gap: 30px 60px;
        grid-template-columns: auto auto;
    }

    .switch-ul li{
        font-size: 18px;
    }

    article {
        grid-template-columns: 270px;
        gap: 60px 40px;
    }

    .show-more-batton {
        margin-top: 60px;
    }

    .manuals-container {
        gap: 50px;
    }

    .manuals {
        width: 350px;
    }

    .text-and-button {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
    }

    .text-and-button p {
        font-size: 18px;
        margin-bottom: 15px;
    }

    .more-button {
        font-family: 'Inter';
        font-weight: 400;
        font-size: 16px;
        width: 110px;
        height: 29px;
    }

    
    .additional-information-footer {
        display: grid;
        grid-template-columns: 140px 140px;
        justify-content: center;
        gap: 60px 30px;
    }

    .additional-information-footer-speke h2 {
        font-size: 20px;
        text-align: center;
        margin-bottom: 25px;
    }

    .additional-information-footer-speke ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
    }

    .download-the-app {
        flex-direction: column;
        margin-top: 70px;
    }

    .privacy-policy {
        flex-direction: column;
        gap: 15px;
        align-items: center;
        margin-top: 50px;
    }



}